option_settings:
  aws:elasticbeanstalk:container:python:3.12:
    WSGIPath: "backend/neet_backend/wsgi.py"

container_commands:
  01_migrate:
    command: "/opt/python/run/venv/bin/python backend/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "/opt/python/run/venv/bin/python backend/manage.py collectstatic --noinput"
    leader_only: true
  03_set_permissions:
    command: |
      chown -R webapp:webapp /var/app/current/backend/staticfiles || true
      chmod -R u+rwX /var/app/current/backend/staticfiles || true
    leader_only: false
